.iconButton {
  transition: all 0.3s;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition: all 0.3s;
}
.todoCard:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: A;
  src: url("../public/fonts/Roboto-Black.ttf");
  font-weight: 100;
}
